<div class="contenedor">
  <h1>{{title}}</h1>
  <br>
  <div>
    <br>
    <input type="number" class="form-control" placeholder="Ingrese la edad 1" [(ngModel)]="edad1">
    <br>
    <input type="number" class="form-control" placeholder="Ingrese la edad 2" [(ngModel)]="edad2">
    <br><br>
    <label class="titulo">Suma de las Edades : {{varSuma}}</label>
    <br>
    <label class="titulo">Promedio de las Edades : {{varPromedio}}</label>
    <br><br> 
    <button type="button" class="btn btn-primary btn-principal" (click)=Sumar()>Suma </button>
    <button type="button" class="btn btn-primary btn-principal" (click)=Promedio()>Promedio </button>
    <button type="button" class="btn btn-primary btn-principal" (click)=Limpiar()>Limpiar</button>
  </div>
</div>